.App {
  text-align: center;
}

.logo {
  height: 50px;
  width: 190px;
  margin-bottom: 10px;
}

.fontSize {
  font-size: 12px;
}

.imgHight {
  height: 700px;
}

.imgSize {
  margin-top: 20px;
  height: 700px;
  width: 100%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
